/*desing by Lord_Saske http://bymas.ru/id2426 */
body{
background: #c3c3c3;
font-size: 14px ;
color: #c7c9f0;
margin: auto;
max-width:450px;
font-family: "Arial";
}
a:link, 
a:visited {
color: #1a3652;
	text-decoration: none;
}
img {
	vertical-align: middle;
	border-style: none;
}
input[type="text"] {
background: #1a3652;
color: #fff;
border-radius: 4px;
padding: 8px;
margin:2px;
border:0;
}
input, select
{
background: #1a3652;
color: #fff;
border-radius: 4px;
padding: 8px;
margin:2px;
border:0;
}
form {
text-align: center;

padding: 15px;
color:#1a3652;
}

textarea {
background: #f3f3f3;
border: #ccc 1px solid;
border-radius: 3px;
margin:3px;
color: #1a3652;
padding: 8px;
width: 80%;
height: 95px;
}

.title{
font-size: 14px ;
background: #ffd800;
color: #1b3753;
	text-align:center;
	padding: 10px;
}
.razdel{

text-align: center;
padding: 7px;
background: #1a3652;
border-top: #1d3d5e 1px solid;
border-bottom: 1px solid #1d3d5e;
color: #fff;
}
.razdel a{

	color:#FFFFFF;
}

.error{
text-align:center;
padding: 7px;
background: #d23737;
border-bottom: #b43434 solid 1px;
border-top: #db4949 1px solid;
color: #2b0505;

}

.ok {
background:  #3d9c48;
padding: 6px;
	color: #FFFFFF;
font-size: 14px ;
	text-align: center;	
        }

 .other{
background: #f3f3f3;
padding:7px;
color:#1a3652;
border-bottom: 1px solid #ccc;

   }
.head
{
background: #1a3652 url(/style/image/head.png) repeat-x 50% top;	
height:80px;
text-align:center;
}
.head_p2, .head_p{
border-bottom: 1px solid #ccc;
font-size: 14px;

background: #f4f4f4;
color: #1d3a54;
}
.head_p2 {
border-left: 1px #ccc solid;
}
.head_p a, .head_p2 a{
padding: 10px;
color:#1d3a54;
display: block;
}
.head_p a:hover, .head_p2 a:hover{

color: #1a3652;
background : #e7e7e7;
}
.main a{
color: #1a3652;
background: #f3f3f3;
padding:7px;
border-bottom: 1px solid #ccc;
border-top: 1px solid #fff;
display: block;
}
.main a:hover{
	background : #e7e7e7;
}
.home{
color: #1a3652;
background: #dedede;
padding:7px;
border-bottom: 1px solid #ccc;
border-top: 1px solid #fff;
display: block;
}
.link{
color: #1a3652;
background: #fff;
padding:7px;
border-bottom: 1px solid #eee;
border-top: 1px solid #fff;
   }
.link a
{

color:#457398;
 }
 
 .post{
color: #444;
background: #f3f3f3;
padding:7px;
border-bottom: 1px solid #ccc;
border-top: 1px solid #fff;
   }

 .link_news{
    color: #444;
background: #ebebeb;
   	padding:7px;
 
border-bottom: 1px solid #ccc;
border-top: 1px solid #fff;
   }
 .link_news a{

color:#3287ad;
 }

 .foot{

background:  #102942;
color:#FFFFFF;
padding: 5px;
text-align:right;
 }
 .foot a{

color:#ffd800;

 }
 .razd4{
    color: #18293a;
background: #99a6b3;

border-bottom: 1px solid #a4b2c0;
border-top: 1px solid #a4b2c0;
padding:9px;

 }

 .news, .forum_text{
    color: #18293a;
background: #99a6b3;

border-bottom: 1px solid #a4b2c0;
border-top: 1px solid #a4b2c0;
padding:9px;

 }
.komm_news a{
color: #9fcff2;
}
.komm_news{
border-top: 1px solid #075084;
border-bottom: 1px solid #05263d;
background: #033154;
color: #c4c4c4;
   	padding:7px;
 }
 .cit{
padding: 4px;
background: #315d71;
color:#74b8d7;
border-left: 3px solid #616D6B;
padding-left: 9px;
font-size: 13px ;
 }
  .chat, .dl a{
padding:3px;
background: #204555;
color: #9797a1;
border-top: #1d495c solid 1px;
border-bottom: #15313d solid 1px;
    display: inline-block;
    width:97%;
 }
 .info_anketa{
 padding:6px;
 background: #f3f3f3;
display: inline-block;
border-radius: 6px;
 }
 
  .count{
text-align:right;
 }
 